.katallassos-footer{
	background: #212846;
	color: #fff;
	.katallassos-footer--menu{
		border-top: 1px solid #1f2848;
		.katallassos-footer--menu-list{
			font-family: franklin-gothic-urw-comp, sans-serif;
			li{
				a{
					color: #fff;
					font-size: 18pt;
					&:hover{
						color: $main;
					}
				}
			}
		}
	}
	.katallassos-footer--copyright{
		p{
			color: #ffffff54;
			font-size: $font-size-micro;
		}
	}
}
@media (max-width: 575.98px) { 
	.katallassos-footer{
		.katallassos-footer--menu{
			.katallassos-footer--menu-list{
				text-align: center;
			}
		}
	}
}